div {
  border-radius: 25px;
  background: #f4f74c;
  padding: 20px;
  width: 200px;
  height: 150px;
  border: 5px solid red;
  text-align: center;
  text-decoration-color: black
  font-size : 18pt
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif

  }
