*{
  margin: 0px;
  padding: 0px
}

td{
  padding: 0px 46px;
}

table, th, td{
  border: 2px solid black;
}

body {
  background-color: rgb(145, 145, 145);
}
header {
  height: 60px;
  width: 100%;
  background-color: rgb(145, 145, 145);
  margin: 0px;
  padding: 0px;
}
h1 {
  text-align: center;
  color: white;
  font-family: verdana;
  font-size: 30px;
}
