* {
	padding:0px;
	margin: 0px 0px 0px 0px;
}

footer {
	height: 55px;
	width: 100%;
	background-color: white;
	color: white;
}

header {
	height: 170px;
	width: 100%;
	background-color: white;
	top:50px;
	color: white;
	font-size: 25px;
}

p {
	font-family: verdana;
	font-size: 11px;
}

.naam {
	color: #008ac1;
}

#info {
	color: #008ac1;
}

p:nth-child(2) {
		background: white;
}

div p {
	background-color: white;
}
a:hover {
			background-color: white;
			color: #008ac1;
		}
p::before {
			content: "Read this - ";
			color: #008ac1;
		}
p::after {
			content: " - Remember this";
			color: #008ac1;
		}
p::first-letter {
					font-size: 200%;
					color: #008ac1;
				}
div.relative {
				position: relative;
				width: 400px;
				height: 200px;
				border: 3px solid white;
				color: #008ac1;
			}
div.absolute {
				position: absolute;
				top: 10px;
				right: 0;
				width: 200px;
				height: 100px;
				border: 3px solid white;
				color: #008ac1;
			}
div.fixed {
				position: fixed;
				bottom: 0;
				right: 0;
				width: 300px;
				color: #008ac1;
		}
body{
	background-color:white;
}
intro {
    background-color: white;
}
a[target] {
    background-color: yellow;
}
