* {
  margin: 0px;
  padding: 0px;
}

#headerfoto {
 width: 100%;
 
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 25px;
