body {
    background-color: grey;
}

.rood {
    display: block;
    height: 50px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: red;
}

.wit {
    display: block;
    height: 50px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: white;
}

.blauw {
    display: block;
    height: 50px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: blue;
}
